<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/dbfd01a4-e41e-4567-8561-78899a9bfed2/resourcegroups/ManagemetSystemTicket/providers/Microsoft.Web/sites/Ticket-Managment-SystemDB</ResourceId>
    <ResourceGroup>ManagemetSystemTicket</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ticket-managment-systemdb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ticket-managment-systemdb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Ticket-Managment-SystemDB</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Ticket-Managment-SystemDB</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=managmets-system-ticketdb.database.windows.net;Initial Catalog=Ticket-Managment-SystemDB;User ID=moreracata;Password=Cata123*" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="TicketManagement.Models.ApplicationDbContext, TicketManagement" MigrationConfiguration="TicketManagement.Migrations.Configuration, TicketManagement" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=managmets-system-ticketdb.database.windows.net;Initial Catalog=Ticket-Managment-SystemDB;User ID=moreracata;Password=Cata123*</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>